.clr {
	clear: both;
}

.site_title {
	
	font-size: 25px;
	font-weight: bold;
	line-height: 35px;

	text-align: center;
}
.site_title_sub{
	font-size: 15px;
	
}
.site_title_sub2{
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
}
.little_title{
	font-size: 12px;
	float: right;
	line-height: 20px;
	font-weight: normal;
	margin-right: 20px;
	margin-top: 10px;
	position: relative;
	z-index: 1000;
}
.ie6sep {
	border-bottom: 1px solid #fff;
	margin: 10px 0px;
}

.notice ul {
	background: #C3D2E5 url(../images/notice-info.png) no-repeat 4px center;
	border-bottom: 3px solid #DE7A7B;
	border-top: 3px solid #DE7A7B;
	margin: 0;
	padding: 10px;
	padding-left: 40px;
	text-indent: 0;
	color: #0055BB;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 10px;
	
}

.notice2 ul , .error ul{
	background: #E6C0C0 url(../images/notice-alert.png) no-repeat 4px center;
	border-bottom: 3px solid #DE7A7B;
	border-top: 3px solid #DE7A7B;
	color: #CC0000;
	margin: 0;
	text-indent: 0;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 10px;
	padding: 10px;
	padding-left: 40px;
}

.red {
	color: red;
}
.gray{
	color: gray;
}
#maincolumn div.center {
	text-align: center;
}
#whitebox .paginationControl{
	text-align: center;
	padding: 10px 30px 10px 5px;
}


/*   photo page    */


#whitebox #imageDiv{
    position: relative;
    width: 520px;
    text-align: center;
    margin: 10px auto;
    border: 1px solid #ccc;
    padding: 10px 0px;;
    min-height: 200px;
}
#whitebox #photoName {
    margin: 10px;
    text-align: center;
    padding-top:10px;
    border-top: 1px solid #ccc;
}
#whitebox #leftHandle {
    position: absolute;
    cursor: url('../images/leftHandle.cur'),auto;
    top: 0px;
    z-index: 2000;
    left: 0px;
}
#whitebox #rightHandle {
    position: absolute;
    cursor: url('../images/rightHandle.cur'),auto;
    top: 0px;
    right: 0px;
    z-index: 2000;
}
#whitebox #cacheDiv {
    position: absolute;
    top: 10px;
    left: 200px;
    display: none;
    color: red;
    padding: 20px;
}
a#btnPre, a#btnNext {
	color: #fff;
	text-align: center;
	padding: 5px 0px;
    cursor: pointer;
    float: left;
    width: 130px;
    height: 21px;
    background: url(../images/btn_bg.gif) no-repeat 0px 0px;
}
a#btnPre:hover, a#btnNext:hover {
	background-position: 0 -31px;
	text-decoration: none;
}
#btnPre {
    margin-left: 120px;
}
#btnNext {
    margin-left: 20px;
}


.photoAlbumn{
	border: 1px solid #6b90da;
	width: 120px;
	height: 120px;
	background: url(../images/albumndefault.jpg) no-repeat center center;
	padding: 1px;
}
.photoAlbumn2{
	border: 1px solid #6b90da;
	width: 120px;
	height: 120px;
	background: url(../images/photodefault.jpg) no-repeat center center;
	padding: 1px;
}
a.photoAlbumnLink{
	border: none;
	width: 120px;
	height: 120px;
	
}
img.albumnHandle {
	border: none;
	margin:5px;
}
ul.albumnListItem li {
    display: inline;
    width: 124px;
    padding: 2px;
    margin: 5px 10px;
    float: left;
    position: relative;
}
#whitebox .albumnName {
    text-align: center;
    word-wrap: break-word;
    word-break: normal; 
    height: 50px;
    overflow: hidden;
    
}
#whitebox .backLink {
	position: absolute;
	top: 0px;
	right: 20px;
	
}
#whitebox .backLink a {
	background: #c7dfb5;
	padding: 5px;
	border: 1px solid #ccc;
	float: left;
}
.navDiv{
	font-size: 14px;
	margin-bottom: 10px;
}
.navDiv a{
	color: #286900;
	text-decoration: underline;
}
.navDiv a:hover {
	color: #e78800;
	text-decoration: none;
}