body {
	color: #333333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.3em;
	margin: 0;
	margin-bottom: 1px;
	padding: 0;
	background: #FFF;
}

form {
	margin: 0px;
	padding: 0px;
}
ul {
	padding: 0px;
	margin: 0px;
}
a {
	text-decoration: none;
}
a:link,a:visited {
	color: #004fdf;
}

a:hover {
	color: #f77400;
	text-decoration: underline;
}
img {
	border: none;
}
ul.data-login  {
    list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
li.element-group{
    padding: 5px 0px;
}
ul.data-login input.form1 {
    width: 130px;
}
label.required, label.optional {
    display: block;
    
}
ul.data-signup input.form1 , ul.data-signup input.form2 , 
ul.data-narrow input.form1, ul.data-narrow input.form2{
    width: 250px;
}
ul.data-signup,div.componentList ul, ul.list, ul.data-narrow {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

div.componentList ul li {
	margin-left: 20px;
}
ul.data-narrow textarea.form4 {
    width: 400px;
    height: 150px;
}
li.setHome {
	list-style-image: url(../images/sethome.gif);
}
li.signIn {
	list-style-image: url(../images/signin.png);
}
li.signUp {
	list-style-image: url(../images/signup.png);
}
textarea.form5 {
    width: 300px;
    height: 100px;
}
.module_menu ol {
	margin: 0px 10px;
	padding: 10px 0px;
	list-style: none;
}
}